* {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: 'Arial';
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
}

.wrapper {
	min-height: 100vh;
	padding: 100px 0;
	box-sizing: border-box;
}

.main-wrapper {
	padding: 100px 0;
}

.h1 {
	margin: 25px 0;
}

.main-games {
	display: flex;
	flex-wrap: wrap;
	padding: 100px 0;
}

.main-game-item {
	width: 23.5%;
	height: 200px;
	margin-right: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
	cursor: pointer;
	box-sizing: border-box;
}

.main-game-console {
	width: 23.5%;
	height: 200px;
	margin-right: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
	cursor: pointer;
	box-sizing: border-box;
}

.main-logo {
	width: 300px;
	height: auto;
	margin: 20px 0;
}

.main-game-item:nth-child(4n) {
	margin-right: 0;
}

.main-game-console:nth-child(4n) {
	margin-right: 0;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #ccc;
}


.fixed-width {
	max-width: 1140px;
	margin: 0 auto;
}

.main-game-item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.main-game-console {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.super-mario-bros {
	background-image: url("/games-pics/super-mario-bros-min.png");
}

.contra {
	background-image: url("/games-pics/contra-min.png");
}

.adventure-island {
	background-image: url("/games-pics/adventure-island-min.png");
}

.dendy {
	background-image: url("/games-pics/dendy.jpg");
}

.sega {
	background-image: url("/games-pics/sega.jpg");
}

.game-frame-w {
	margin: 50px 0;
}

.game-frame {
	width: 100%;
	height: 650px;
}

@media only screen and (max-width: 768px) {
	.fixed-width {
		margin: 0 10px;
	}

	.game-frame {
		width: 100%;
		height: 520px ;
	}
	
	.main-game-console {
		width: calc(50% - 10px);
		height: 250px;
		margin-right: 0;
	}

	.main-game-item {
		width: calc(50% - 10px);
		height: 250px;
		margin-right: 0;
	}

	.main-game-console:nth-child(4n) {
		margin-right: 0;
	}

	.main-game-item:nth-child(4n) {
		margin-right: 0;
	}

	.main-game-console:nth-child(odd) {
		margin-right: 20px;
	}

	.main-game-item:nth-child(odd) {
		margin-right: 20px;
	}
}